body{
	margin: 0;
}
nav{
	height: 80px;
	background-color: #333;
	color: white;
	line-height: 80px;
	font-size: 2rem;
	padding-left: 30px;
}
.container {
	padding: 5% 15%;
}
input{
	width: 60%;
	padding: 5px 10px;
	outline: none;
}
form button {
	width: 20%;
	padding: 7px 10px;
	background-color: #333a;
	color: white;
	border: none;
	max-width: 120px;

}

#list-rooms div{
	background-color: #3333;
	padding: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

#list-rooms button{
	width: 60px;
	height: 30px;
}
